
.footer{
    height: 600px;
    background-color: #262626;
}
.navLink{
    margin-left: 3rem;
    text-decoration: none;
    color: lightgrey;
}
.navLink:hover{
    color: lightgrey;
    text-underline-offset: 5px;
    text-decoration: underline;
    text-decoration-color: rgb(218, 95, 95);
}
.navLink:focus{
    text-underline-offset: 5px;
    text-decoration: underline;
    text-decoration-color: rgb(218, 95, 95);
}
.logo-size{
    height: 50px;
}
.teacher-image{
    height: 100px;
    width: auto;
}
.hv{
    color: gray;
    font-size: 2rem;
}
.hv:hover{
    color: rgb(218, 95, 95);
}

